.toolbar {
  position: fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 20px;

  h1 {
    display: none;
  }

  .input-group {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;

    &__select,
    .input {
      color: #666666;
    }

    &__select {
      padding: 0 1rem 0 1rem;
    }

    .btn {
      svg {
        transform: scale(0.9);
      }
    }

    .input {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .toolbar {
    position: relative;
    margin-top: 10%;
    width: 100%;
    h1 {
      display: block;
    }
    .input-group {
      border-radius: 10px;
      width: 100%;
    }
  }
}
